.product-title {
  font-size: 24px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.l-row {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  gap: 20px;
}

.cart {
  margin-top: 10px;
  padding: 0 40px;
}

.cart-title {
  font-size: 20px;
}

.l-header {
  margin-bottom: 10px;
  padding: 10px 20px;
  background: #fb8500;
}

.navigation-link {
  font-size: 20px;
}

.product {
  margin-bottom: 10px;
  padding: 20px;
  background: #8ecae6;
}

.l-col {
  width: 50%;
}

.product-description {
  font-size: 16px;
}

.cart-products {
  font-size: 16px;
}
