.flexbox {
  .wrapper {
    min-height: 100px;
    margin-bottom: 20px;
    border: 1px solid #000;
    background: #8ecae6;
  }

  .box {
    padding: 10px;
    background: #219ebc;
    border: 1px solid #000;
  }

  .wrapper-1 {
    display: flex;
    justify-content: flex-end;
  }

  .wrapper-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper-3 {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }

  .wrapper-4 {
    display: flex;
    flex-wrap: wrap;
    .box {
      width: 50%;
    }
  }
}
