.flexbox {
  .wrapper {
    min-height: 100px;
    margin-bottom: 20px;
    border: 1px solid #000;
    background: #8ecae6;
  }

  .box {
    padding: 10px;
    background: #219ebc;
    border: 1px solid #000;
  }

  .wrapper-1 {
  }

  .wrapper-2 {
  }

  .wrapper-3 {
  }

  .wrapper-4 {
  }
}
