.animations {
  .spinner {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 5px solid #8ecae6;
    border-top-color: #023047;
  }

  .progress {
    height: 20px;
    background: #8ecae6;
    border-radius: 10px;
    overflow: hidden;
  }

  .progress-inner {
    width: 0;
    height: 100%;
    background: #023047;
    border-radius: 10px;
  }
}
