.article {
  margin-bottom: 20px;
  padding: 20px;
  background: #8ecae6;
  border-radius: 10px;
}

.article-title {
  font-size: 30px;
}

.article-date {
  font-size: 16px;
  font-weight: 700;
}

.article-content {
  font-size: 18px;
}

@media (min-width: 768px) {
  .article-title {
    font-size: 45px;
  }
  .article-content {
    font-size: 22px;
  }
}

@media (min-width: 968px) {
  .article-title {
    font-size: 60px;
  }
  .article-date {
    font-size: 24px;
  }
}
