.lightbox {
  margin-bottom: 20px;
  background: #8ecae6;
  padding: 40px 20px;
  text-align: center;
}

.lightbox-close {
  padding: 0 5px;
  background: #219ebc;
  color: white;
}

.list-item {
  padding: 10px;
  margin-bottom: 10px;
  background: #8ecae6;
  border: 1px solid #000;
}

.list-item-1 {
}

.list-item-2 {
}
