.lightbox {
  margin-bottom: 20px;
  background: #8ecae6;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.lightbox-close {
  padding: 0 5px;
  background: #219ebc;
  color: white;
  position: relative;
  top: -30px;
  left: 246px;
}

.list-item {
  padding: 10px;
  margin-bottom: 10px;
  background: #8ecae6;
  border: 1px solid #000;
}

.list-item-1 {
  position: relative;
  left: -15px;
}

.list-item-2 {
  position: relative;
  top: 20px;
  left: 10px;
}
