* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  padding-bottom: 100px;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-size: inherit;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

img,
video {
  display: block;
  max-width: 100%;
}
